@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 500vh;
}

header {
    width: 100%;
    height: 130px;
    padding: 30px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}

header.rolagem{
    background-color: rgba(0, 0, 0, 0.362);
    padding: 40px 4%;
}

header i{
    font-size: 30px;
    color: #fff;
}

header.rolagem a, header.rolagem i{
    color: white;
}

.rolagem {
    background-color: white;
    padding: 10px 4%;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

menu nav ul li {
    width: 200px;
    padding: 12px;
    text-align: right;
}

menu > ul > li > a {
    color: #004ab5;
    text-decoration: none;
    display: inline;
}

.btn-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #231F20;
    
}

.logo {
    width: 200px;
}

ul {
    list-style-type: none;
}
ul li {
    color: white;
    display: inline-block;
    margin: 0 40px;
}

ul li a {
    text-decoration: none;
}

.banner {
    height: 100vh;
    background-image: url(../Assets/images/fundo.jpg);
    background-position: 100% 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 4em;
}

.banner h1 span {
    color: white;
}